.chat__write {
  position: fixed;
  bottom: 50px;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcfcfc;
  padding: 0px 20px;
  border-radius: 40px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2), 0px -4px 10px rgba(0, 0, 0, 0.2);
}

.header-wrapper {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  margin-bottom: 0px;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input:focus {
  outline: none;
}

.chat__write-column input {
  padding: 20px;
  width: 100%;
  border: none;
  font-size: 14px;
}
.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chats-body {
  padding: 0;
}
.chat-screen {
  padding-top: 100px;
  background-image: url("../images/chat-background.png");
  min-height: 100vh;
  /* vh 는 부모 따라가는데 1vh 는 1/100의미 100넣으면 부모 사이즈만큼  */
}

.chat-screen .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-top: 1px solid #f7f7f7;
  padding: 0px 20px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 10px 21px #e7eeef;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;

  margin-bottom: 20px;
}

.incoming-message {
  align-self: flex-start;
}
.incoming-message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 15px;
}

.incoming-message .message__author {
  margin-bottom: 25px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.sent-message {
  align-self: flex-end;
}

.message .message__bubble {
  background-color: white;
  box-shadow: 0 20px 60px 12px rgba(50, 50, 93, 0.55);
  padding: 10px 10px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  display: block;
  background-image: linear-gradient(to right, #36d1dc, #5b86e5);
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
}
