@import "reset.css";
@import "status-bar.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import "header.css";
@import "nav-bar.css";
/* default setting
body{

}



*/
body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  /* 이거 링크 클릭해도 검은색 유지하도록 부모 색깔 상속받은것임 */
}
